<head>
    <link rel="stylesheet" href="user.css">
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Swipe Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="manifest.webmanifest">
    <script src="./assets/Bubble.js"></script>

    <script src="./register_sw.js"></script>
</head>

<body>
    
    <div class="wrapper">
        
        <h1>Login.</h1>
        <p id="new-user-msg">You're registration was successfull! To get started, please Login with your new account. </p>
        
        <form action="/login" method="post">
            

            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
                  
            
            
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            
            
            <button type="submit">Submit</button>
            
            
        </form>
        
        
    </div>
    

    <script src="first-login.js" defer></script>
    
</body>



