<head>
    <link rel="stylesheet" href="user.css">
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Swipe Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    
    <div class="wrapper">
        
        <h1>Login.</h1>
        
        <form action="/login" method="post">

            <p id="new-user-msg"></p>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
                  
            
            
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            
            
            <button type="submit">Submit</button>
            
            
        </form>
        <p id="change">Don't have an account?  <a href="/register">Register</a></p>
        
    </div>
    

    <script src="login.js" defer></script>
    
</body>



