<head>
    <link rel="stylesheet" href="user.css">
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Swipe Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    
    <div class="wrapper">
        
        <h1>Register.</h1>
        
        <form action="/register" method="post">
            
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>           
            
            
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            
            <label for="password2">Retype Password</label>
            <input type="password" name="password2" id="password2" required>
            
            <button type="submit">Submit</button>
            
            
        </form>
        
        
    </div>
    

    <script src="register.js" defer></script>
    
</body>



