<head>
    <link rel="stylesheet" href="user.css">
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Swipe Test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="manifest.webmanifest">

    <script src="./assets/validation.js"></script>
    <script src="./assets/Bubble.js"></script>

    <script src="./register_sw.js"></script>
</head>

<body>
    
    <div class="wrapper">
        
        <h1>Register.</h1>

        
        
        <form action="" method="post">
            <p id="message"></p>
            
            
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required minlength="4" maxlength="15">

            <label for="email">Email</label>
            <input type="email" name="email" id="email" required minlength="7">
            
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required >           
            
            
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required minlength="6">
            
            <label for="password2">Retype Password</label>
            <input type="password" name="password2" id="password2" required minlength="6">
            
            <button type="submit">Submit</button>
            
            
        </form>
        
        <p id="change">If you already have an account, please <a href="/login">log in</a></p>
        
    </div>
    

    <script src="register.js" defer></script>
    
</body>



