


<head>
    <link rel="stylesheet" href="user.css">
    <link rel="stylesheet" href="welcome.css">
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>welcome!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./assets/Bubble.js"></script>
</head>

<body>
    
    <div class="wrapper">
        
        <h1><span id="hi">feed your brain.</span> Hi <%= name %>!</h1>
        <p class="simple-p">
            Discover the world of ideas, and even leave your own footprints <br>

            <br>
            Swipe Right if you like an idea or swipe left if you don't. <br>
            <br>

            To add the quote to your libary, simply swipe up! <br>
            <br>
            <span id="start-app">&gt</span>

        </p>
        
        
    </div>
    

    <script src="welcome.js" defer></script>
    
</body>



