@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #3f3f44;

    
}

body{
    
    overflow-y: scroll;
}

h1 {
    font-size: 2rem;
    text-transform: lowercase;
    letter-spacing: 0.9rem;
    margin: 20px 0;
}
#hi{
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
    display: block;
}


.wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


#post-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;

    margin: 15px 0;

}
#post-form textarea{
    resize: none;
    padding: 10px;
    font-size: 1.1rem;
    width: 95%;

    border-top-right-radius: 7%;
    border: none;
    border-top: 0.5px solid #3f3f44;
    border-right: 0.5px solid #3f3f44;
    line-height: 1.7rem;

    background: #f7f7f7;
    box-shadow: 2px 2px 2px #3f3f4411;

    transition: 0.5s ease-in-out;
    
    letter-spacing: 0.2rem;
}

#post-form textarea:focus{
    border: none;
    border-bottom-left-radius: 7%;
    border-bottom: 0.5px solid #3f3f44;
    border-left: 0.5px solid #3f3f44;
    outline: none;
}

h3{
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    text-align: start;
    width: calc(100vw - 10%);
    text-transform: lowercase;
    letter-spacing: 0.2rem;
    transition: 0.5s ease-in-out;
}
form button {
    font-size: 1.2rem;
    padding: 7px;

    border-top-right-radius: 7%;
    border: none;
    border-top: 0.5px solid #3f3f44;
    border-right: 0.5px solid #3f3f44;
    line-height: 1.7rem;

    background: #f7f7f7;
    text-transform: lowercase;
    letter-spacing: 0.9rem;

    margin-top: 20px;
    box-shadow: 2px 2px 2px #3f3f4411;
    transition: 0.5s ease-in-out;
}
form button:active{
    background: #3f3f44;
    color: #f7f7f7;
    box-shadow: -2px -2px -2px #3f3f4433;
}

.myquotes, .libary {
    padding: 10px;
    width: 90%;
    margin: 10px auto;
}

.back{
    font-size: 3rem;
    font-weight: 300;
    color: #a97c73;
    position: relative;
    left: 45%;
}



li{
    list-style: none;
    padding: 15px 10px;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    background: #3f3f4477;
    color: #f7f7f7;
    margin: 5px;
    border-radius: 6%;
}
li:nth-child(even){
    background: #a97c7377;
}

ul {
    border-radius: 6%;
    border: none;
    border-left: 0.5px solid #3f3f4477;
}


@keyframes register{
    100%{
        top: -20%;
        opacity: 0.1;
    }
}